@import "tailwindcss";

@theme {
  /* Cores Primary */
  --color-primary-50: #e6f2ff;
  --color-primary-100: #b3d9ff;
  --color-primary-200: #80c0ff;
  --color-primary-300: #4da6ff;
  --color-primary-400: #1a8cff;
  --color-primary-500: #0073e6;
  --color-primary-600: #005ab3;
  --color-primary-700: #004280;
  --color-primary-800: #00294d;
  --color-primary-900: #00101a;

  /* Success */
  --color-success-50: #d4edda;
  --color-success-500: #28a745;
  --color-success-700: #1e7e34;

  /* Warning */
  --color-warning-50: #fff3cd;
  --color-warning-500: #ffc107;
  --color-warning-700: #d39e00;

  /* Danger */
  --color-danger-50: #f8d7da;
  --color-danger-500: #dc3545;
  --color-danger-700: #bd2130;

  /* Info */
  --color-info-50: #d1ecf1;
  --color-info-500: #17a2b8;
  --color-info-700: #117a8b;
}